body {
    background-color: #f5f5f5;
    color: black;
    text-align: center;
    margin: 3%;
    font-family: 'Assistant', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 2rem;
}

#scoreHeader {
    font-size: 1.7rem;
    margin-bottom: 10%;
}

h3 {
    font-size: 1.2rem;
}

.gameInformation {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: min(20%, 100px);
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #2d3436;
    border-radius: 15px;
    font-size: 4rem;
    font-weight: bold;
    background-color: #ffffff;
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.cell:hover {
    background-color: #bbc2c5;
    scale: 1.04;
}

button {
    margin-top: 3%;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    background-color: #2d3436;
    color: #fff;
    border-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: rgb(128, 128, 128);
    scale: 1.1;
}

button:active {
    background-color: #f5f5f5;
    color: #2d3436;
    scale: 1.2;
}

.gameOptions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

input {
    background-color: transparent;
    outline: none;
    border-color: transparent;
    border-bottom: 1px solid grey;
    text-align: center;
}

.playerNames {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.scoreInformation {
    display: flex;
    flex-direction: column;
}

.scoreInformation > h2,
.scoreInformation > span {
    font-size: 2rem;
}

dialog {
    background-color: #c2d6cc;
    border-color: transparent;
    border-radius: 15px;
}

dialog > p {
    font-size: 1.3rem;
}

.playerNames {
    padding-top: 10%;
    gap: 15px;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    color: #ffffff;
    height: fit-content;
    width: 100%;
    background-color: #2d3436;
    font-size: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    color: #ffffff;
    height: fit-content;
    width: 100%;
    background-color: #2d3436;
    font-size: 2rem;
}